@page "/"
@inject NavigationManager Navigation

@layout LoginLayout
@using MAPA.Components.Layout

<div class="login-container">
    <div class="login-box">
        <img src="image/geoPulse.png" class="logo" alt="GeoPulse" />

        <input type="text" placeholder="Usuario" @bind="username" class="input" />
        <input type="password" placeholder="Contraseña" @bind="password" class="input" />

        <button class="btn-login" @onclick="LoginUser">Iniciar sesión</button>
    </div>
</div>







@* <div class="login-background">
    <div class="login-panel">
        <div class="logo-section">
            <img src="image/geoPulse.png" alt="GPS Logo" class="logo" />
            <h1 class="app-title">Iniciar Sesion</h1>
        </div>

        <div class="form-group">
            <label>Usuario</label>
            <input type="text" @bind="username" class="form-control" />
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" @bind="password" class="form-control" />
        </div>

        <button class="btn-login" @onclick="LoginUser">Iniciar sesión</button>
    </div>
</div> *@

@* <button @onclick="NavigateToPage">Ir a otra página</button> *@



@code {
    private string username;

    private void LoginUser()
    {
        // Aquí va tu lógica de autenticación
        if (username == "admin" && password == "admin")
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            Navigation.NavigateTo("/home");

        }
    }
}